.git
node_modules
dist/public
dist/.tsbuildinfo
build
Dockerfile*
.dockerignore
.env
.env.*
**/*.log
**/.DS_Store
**/coverage
**/.next
**/.parcel-cache
**/tmp
**/cache
**/uploads
**/drizzle
**/target
**/__pycache__
**/.vscode
**/.idea
